* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

#whats {
    position: fixed;
    right: 40px;
    bottom: 40px;
    padding: 12px;
    border: 1px solid var(--cyan-color);
    border-radius: 50px;
    z-index: 2;
}

#email {
    position: fixed;
    right: 40px;
    bottom: 110px;
    padding: 16px;
    border: 1px solid var(--cyan-color);
    border-radius: 50px;
    z-index: 2;
}

:root {
    --cyan-color: #00D2DF;
    --rosa-chock-color: #FF1CF7; 
    --cinza-escuro-color: #121212;
    --cinza-claro-color: #151515;
}

.cinza-claro-color {
    background-color: var(--cinza-claro-color);
}

.cinza-escuro-color {
    background-color: var(--cinza-escuro-color);
}

.cyan-color {
    color: var(--cyan-color);
}

.btn-cyan-color {
    color: white;
    border: 1px solid var(--cyan-color);
}

.btn-cyan-color:hover {
    color: white;
    background-color: var(--cyan-color);
    border-color: var(--cyan-color);
}

.rosa-chock-color {
    color: white;
    border: 1px solid var(--rosa-chock-color);
}

.rosa-chock-color:hover {
    color: white;
    background-color: var(--rosa-chock-color);
    border-color: var(--rosa-chock-color);
}

header {
    z-index: 1;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background: var(--cinza-escuro-color);
}

header section {
    display: flex;
    height: 10vh;
    width: 84vw;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #151515;
}

header ul {
    display: flex;
    list-style: none;
    width: 36vw;
    justify-content: space-between;
}

header li {
    padding: 4px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

header li:hover {
    border-bottom: 2px solid white;
}

header li:focus {
    border-bottom: 2px solid white;
}

a {
    color: white;
    text-decoration: none;
}

.box1 a, .box2 a {
    width: 160px;
}

.container-box1 {
    display: flex;
    height: 100vh;
    justify-content: center;
}

/* .container-box1 {
    background-image: url('./assets/illustration.svg');
    background-repeat: no-repeat;
    background-position: right;
} */

.box1 {
    display: flex;
    width: 84vw;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    background-image: url('./assets/illustration.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto;
}

.relative-bottom{
    position: relative;
    bottom: 2px;
}

.container-box2 {
    display: flex;
    justify-content: center;
    padding: 12vh 0;
}

.box2 {
    display: flex;
    width: 84vw;
    align-items: center;
}

.div-box2 {
    display: flex;
    width: 720px;
    flex-direction: column;
}

.perfil {
    width: 300px;
    border-left: 5px solid var(--cyan-color);
}

.box3 a {
    width: 48%;
}

.container-box3 {
    display: flex;
    justify-content: center;
    padding: 12vh 0;
}

.box3 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 84vw;
}

.box3 .buttons {
    display: flex;
    justify-content: space-between;
}

.card {
    border: none;
}

.card-img-top {
    border-left: 5px solid var(--cyan-color);
}

.cards-videos {
    display: flex;
    width: 84vw;
    justify-content: space-between;
}

.card-video {
    border: none;
    width: 40vw;
}

figcaption {
    background-color: var(--cinza-claro-color);
}

.cards-imagens {
    display: flex;
    width: 84vw;
    justify-content: space-between;
}

.card-img {
    width: 26vw;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cinza-claro-color);
}

.container-box4 {
    display: flex;
    justify-content: center;
    padding: 12vh 0;
}

.box4 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 84vw;
}

.box4 div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 2px solid var(--cyan-color);
}

footer {
    display: flex;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

@media (max-width: 950px) {
    header ul {
        width: 50vw;
    }

    .container-box1 {
        height: 80vh;
    }

    .box2 {
        flex-wrap: wrap;
        text-align: justify;
    }

    .cards-videos {
        margin-bottom: 0!important;
    }

    .div-box2 {
        margin-top: 4vh;
        gap: 8px;
    }

    .box3 a {
        width: 100%;
    }

    .box3 .buttons {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 2vh;
    }
}


@media (max-width: 706px) {
    .no-mobile {
        display: none;
    }

    #whats {
        right: 26px;
        bottom: 40px;
        padding: 12px;
    }
    
    #email {
        right: 26px;
        bottom: 110px;
        padding: 16px;
    }

    .box1 a, .box2 a {
        width: 144px;
    }

    .container-box1 {
        height: 60vh;
    }

    .box1 {
        position: relative;
        top: 20px;
        background-image: none;
    }

    .perfil {
        width: 84vw;
    }

    .box1 .buttons, .box2 .buttons {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .box1 a, .box2 a {
        width: 48%;
    }

    .cards-videos, .cards-imagens {
        flex-wrap: wrap;
    }

    .card-video {
        border: none;
        width: 84vw;
        margin-bottom: 1.5rem;
    }
    
    .card-img {
        width: 84vw;
        margin-bottom: 26px;
    }
}